.task-container {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  max-width: 250px;
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.task {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
}
.task-del-icon {
  align-self: flex-end;
  color: #fc0303;
  min-width: 15px;
  margin-bottom: 2px;
  margin-left: 2px;
  cursor: pointer;
}
