.nav-bar {
  background-color: blue;
  padding: 5px;
  margin-bottom: 10px;
}
.nav-heading {
  color: white;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
}
.board-input-container {
  margin: 25px;
}
.board-input {
  height: 30px;
  border: none;
  outline: none;
  background-color: skyblue;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.create-board-btn {
  border-radius: 10px;
  border: none;
  background-color: orange;
  height: 30px;
  width: 100px;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  margin-right: 10px;
  margin-bottom: 10px;
}
.boards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  min-height: 500px;
  margin-bottom: 10px;
}
.save-board-btn {
  border-radius: 10px;
  border: none;
  background-color: green;
  height: 30px;
  width: 100px;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
}
